.pagination {
  display: block;
  margin: 0 auto;
  width: 384px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  margin-top: 25px;
  a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(81, 81, 81);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
  }
  .selected {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgb(235, 239, 242);
  }
  .next:hover,
  .previous:hover {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: rgb(91, 126, 154);
    a {
      color: rgb(235, 239, 242);
    }
  }
}
