@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.product_description {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 560px;
  border-radius: 30px;
  padding: 32px 24px 32px 32px;
  background: rgb(254, 254, 254);

  .product__description_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
  }

  .product__description_icon {
    width: 36px;
    height: 36px;
    left: 540px;
    right: 24px;
    top: 38px;
    bottom: 486px;
    cursor: pointer;
  }

  .product__description_image {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    img {
      width: 165px;
      height: 165px;
      border-radius: 10px;
    }
    .description {
      width: 100%;
      height: 100%;
      max-width: 355px;
      max-height: 165px;
      color: rgb(0, 0, 0);
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-align: left;
      overflow: auto;
    }
  }

  .list__title {
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 32px;
  }

  .product__description_ingredients {
    width: 324px;
    height: 90px;
    margin-top: 8px;

    > li {
      color: rgb(0, 0, 0);
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: left;
    }
  }

  .product__description_btn {
    width: 100%;
    height: 100%;
    max-width: 544px;
    max-height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 14px;
    background: rgb(244, 115, 86);
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1%;
    text-align: left;
    border: none;
    cursor: pointer;
    margin-top: 40px;
  }
}

.add_option {
  width: 100%;
  height: 100%;
  width: 600px;
  height: 552px;
  border-radius: 30px;
  background: rgb(254, 254, 254);
  padding: 31px 32px 32px 32px;

  .add__option_title {
    color: rgb(42, 52, 64);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;

    .add__option_icon {
      width: 36px;
      height: 36px;
      cursor: pointer;
    }
  }

  .add__option_inps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 40px;
  }

  .add__option_inp,
  .add__option_add__option_inp_m {
    width: 252px;
    height: 39px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-top: 15px;
    padding-bottom: 8px;

    p {
      color: rgb(42, 52, 64);
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0%;
      text-align: left;
      margin-left: 12px;

      span {
        color: rgb(91, 126, 154);
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        margin-left: 12px;
      }
    }
  }

  .add__option_add__option_inp_m {
    margin-top: 32px;
  }

  .title_span {
    color: rgb(91, 126, 154);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }

  /* Скрыть стандартный чекбокс */
  .round_checkbox input {
    opacity: 0;
    position: absolute;
  }

  /* Создание круглого фона для чекбокса */
  .round_checkbox .checkmark {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 1px solid rgb(255, 139, 91);
    border: 1px solid rgb(204, 204, 204);
    background: rgb(245, 245, 245);
  }

  /* Стилизация отмеченного чекбокса */
  .round_checkbox input:checked + .checkmark {
    background: rgb(254, 254, 254);
    border: 1px solid rgb(255, 139, 91);
  }

  /* Стилизация галочки */
  .round_checkbox .checkmark::after {
    content: '';
    position: absolute;
    display: none;
  }

  .round_checkbox input:checked + .checkmark::after {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(255, 139, 91);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .query__inps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .query_checkbox input {
    opacity: 0;
    position: absolute;
  }

  /* Создание круглого фона для чекбокса */
  .query_checkbox .checkmark {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 27px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    background: rgb(245, 245, 245);
  }

  /* Стилизация отмеченного чекбокса */
  .query_checkbox input:checked + .checkmark {
    background: rgb(254, 254, 254);
    border: 1px solid rgb(255, 139, 91);
  }

  /* Стилизация галочки */
  .query_checkbox .checkmark::after {
    content: '';
    position: absolute;
    display: none;
    color: rgb(255, 139, 91);
    border: 2px solid rgb(255, 139, 91);
  }

  .query_checkbox input:checked + .checkmark::after {
    display: block;
    width: 10px;
    height: 10px;
    // border-radius: 50%;
    background: rgb(255, 139, 91);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .add__option_btns {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

    .add__option_count,
    span {
      width: 128px;
      height: 56px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 12px 10px 12px;
      border: none;
      border-radius: 100px;
      background: rgb(244, 115, 86);
      color: rgb(255, 255, 255);
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-align: left;

      span {
        cursor: pointer;
      }
    }

    .add__option_btn {
      width: 392px;
      height: 56px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 14px;
      background: rgb(244, 115, 86);
      border: none;
      cursor: pointer;
      color: rgb(255, 255, 255);
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -1%;
      text-align: left;
    }
  }
}
