@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.profile {
  width: 100%;
  max-width: 1240px;
  height: 100%;
  max-height: 102px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 0 32px;

  .profile__title {
    color: rgb(42, 52, 64);
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 32px;
  }

  .profile_icon {
    width: 48px;
    height: 48px;
    margin-top: 27px;
  }
}

.tab_btns {
  width: 100%;
  max-width: 720px;
  height: 100%;
  max-height: 52px;
  display: flex;
  justify-content: center;
  padding: 0px;
  border-radius: 100px;
  background: rgb(235, 239, 242);
  margin-top: 25px;

  .tabs_btn {
    width: 100%;
    max-width: 360px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 48px 14px 48px;
    flex: none;
    border-radius: 100px;
    background: rgb(235, 239, 242);
    border: none;
    color: rgb(42, 52, 64);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
  }

  .active {
    width: 100%;
    max-width: 360px;
    height: 100%;
    max-height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 48px 14px 48px;
    flex: none;
    border-radius: 100px;
    background: rgb(244, 115, 86);
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;

    p {
      color: rgb(255, 255, 255);
    }
  }
}

.profile_barmen {
  width: 706px;
  height: 318px;
  border-radius: 20px;
  background: rgb(254, 254, 254);
  margin-top: 164px;
  padding: 32px;

  h4 {
    color: rgb(42, 52, 64);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
  }

  .inps {
    width: 642px;
    height: 194px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6px;

    .inp {
      width: 305px;
      height: 82px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0px;
      margin-top: 22px;

      > span {
        color: rgb(91, 126, 154);
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
      }

      > input {
        width: 305px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 16px;
        border-radius: 10px;
        background: rgb(235, 239, 242);
        border: none;
        color: rgb(42, 52, 64);
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin-top: 8px;
      }
    }
  }
}

.work_schedule {
  width: 700px;
  height: 648px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  margin-top: 65px;
  padding: 58px;

  .working_hours {
    width: 74%;
    display: flex;
    justify-content: space-between;

    .working_day,
    .weekend {
      width: 195px;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .circle {
        width: 40px;
        height: 40px;
        flex: none;
        background: rgb(244, 115, 86);
        border-radius: 50%;
      }

      .circle_weekend {
        width: 40px;
        height: 40px;
        flex: none;
        background: rgb(91, 126, 154);
        border-radius: 50%;
      }

      .title {
        width: 139px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 16px;
        color: rgb(42, 52, 64);
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
      }
    }
  }

  .name__day {
    width: 100%;
    height: 100%;
    max-width: 560px;
    max-height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;

    p {
      width: 34px;
      height: 36px;
      color: rgb(42, 52, 64);
      font-family: 'Poppins', sans-serif;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }
  }

  .schedule__days_number {
    width: 100%;
    height: 100%;
    max-width: 584px;
    max-height: 408px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;

    p {
      width: 56px;
      height: 56px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background: rgb(244, 115, 86);
      color: rgb(255, 255, 255);
      font-family: 'Nunito', sans-serif;
      font-size: 32px;
      font-weight: 700;
      margin-right: 32px;
    }

    .specific_number {
      background: rgb(91, 126, 154);
    }

    .specific_number_mr {
      margin-right: 0;
      background: rgb(91, 126, 154);
    }

    .specific_number_bg {
      background: rgba(91, 126, 154, 0.5);
    }

    .last_numbers {
      background: rgba(244, 115, 86, 0.5);
    }

    .specific_number_mr_bg {
      margin-right: 0;
      background: rgba(91, 126, 154, 0.5);
    }
  }
}
