@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.order_sider {
  position: absolute;
  width: 100%;
  max-width: 520px;
  height: 1024px;
  left: 1052px;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(91, 126, 154);
  padding: 24px 24px 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;

  .title {
    width: 100%;
    height: 100%;
    max-width: 331px;
    max-height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 128px;

    p {
      width: 226px;
      height: 42px;
      color: rgb(255, 255, 255);
      font-family: 'Poppins', sans-serif;
      font-size: 28px;
      font-weight: 600;
      line-height: 42px;
      letter-spacing: 0%;
      text-align: center;
    }

    .icon {
      > svg {
        width: 24px;
        height: 24px;
        color: rgb(255, 255, 255);
        cursor: pointer;
      }
    }
  }

  .text {
    width: 100%;
    height: 100%;
    max-width: 386px;
    max-height: 34px;
    left: 67px;
    right: 67px;
    top: 316px;
    bottom: 674px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -1%;
    text-align: right;
    margin-top: 250px;
  }

  .add_to_card {
    width: 328px;
    height: 295px;
    left: 96px;
    right: 96px;
    top: 414px;
    bottom: 315px;
    margin-top: 64px;
  }

  .sum {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 174px;

    span {
      width: 79px;
      height: 29px;
      left: 24px;
      right: 417px;
      top: 883px;
      bottom: 112px;
      color: rgb(255, 255, 255);
      font-family: 'Poppins', sans-serif;
      font-size: 24px;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -1%;
      text-align: left;
    }
  }

  .order__sider_btn {
    width: 100%;
    height: 100%;
    max-width: 472px;
    max-height: 56px;
    padding: 10px;
    border: none;
    border-radius: 14px;
    background: rgb(235, 239, 242);
    color: rgb(42, 52, 64);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 24px;
  }
}
