.header {
  max-width: 100vw;
  height: 102px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  .btnWrapper {
    display: flex;
    background: rgb(235, 239, 242);
    border-radius: 100px;
  }
  button {
    width: 360px;
    height: 52px;
    background: rgb(235, 239, 242);
    border: none;
    color: rgb(42, 52, 64);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
    border-radius: 100px;
  }
  .active {
    width: 360px;
    height: 52px;
    background: rgb(244, 115, 86);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    cursor: pointer;
    transition: all 0.5s;
  }
  img{
    cursor: pointer;
  }
}
