.header {
  width: 1150px;
  height: 102px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  .btnWrapper {
    display: flex;
    background: rgb(235, 239, 242);
    border-radius: 100px;
  }
  button {
    width: 360px;
    height: 52px;
    background: rgb(235, 239, 242);
    border: none;
    color: rgb(42, 52, 64);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
    border-radius: 100px;
  }
  .active {
    width: 360px;
    height: 52px;
    background: rgb(244, 115, 86);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    cursor: pointer;
    transition: all 0.5s;
  }
  img {
    cursor: pointer;
  }
}
.circle {
  width: 16px;
  height: 16px;
  border-radius: 100%;
}
.statusbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}
.status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: 156px;
  height: 54px;
  color: rgb(42, 52, 64);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
.activeStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: 156px;
  height: 54px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  border: none;
  background: rgb(244, 115, 86);
  border-radius: 100px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}
.cardContainer {
  width: 1100px;
  display: block;
  margin: 0 auto;
  // background-color: antiquewhite;
  padding-top: 10px;
  // padding-bottom: 25px;
}
.cardsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.cardRoot {
  width: 243px;
  min-height: 300px;
  border-radius: 12px;
  box-shadow:
    0px 4px 8px 0px rgba(0, 0, 0, 0.06),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);
  background: rgb(255, 255, 255);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // :hover{
  //   background-color: lightblue; /* Цвет фона при наведении */
  // }
  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn {
    width: 211px;
    height: 40px;
    border: 2px solid rgb(244, 115, 86);
    border-radius: 12px;
    background: none;
    color: rgb(244, 115, 86);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }
  p {
    color: rgb(95, 99, 102);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  li {
    color: rgb(42, 52, 64);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
  }
}
.close {
  font-size: 32px;
  cursor: pointer;
}
.extra {
  color: rgb(244, 115, 86);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 22px;
  cursor: pointer;
}
.btn {
  background-color: white;
  cursor: pointer;
  &-gotovo {
    color: rgb(81, 219, 103);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    background-color: white;
    cursor: pointer;

  }
  &-completed {
    color: rgb(42, 52, 64);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    background-color: white;

  }
  &-inprocess{
    color: rgb(244, 115, 86);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    background-color: white;
    cursor: pointer;

  }
  &-cancel{
    color: rgb(95, 99, 102);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    background-color: white;
  }
  &-new{
    width: 211px;
    height: 40px;
    border: 2px solid rgb(244, 115, 86);
    border-radius: 12px;
    background: none;
    color: rgb(244, 115, 86);
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }
}
.pagination {
  margin: 0 auto;
  max-width: 550px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  margin-top: 25px;
  a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(81, 81, 81);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
  }
  .selected {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgb(235, 239, 242);
  }
  .next:hover,
  .previous:hover {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: rgb(91, 126, 154);
    a {
      color: rgb(235, 239, 242);
    }
  }
}

